In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
randn(3)

array([ 0.15624555, -1.12790906,  1.49084794])

In [4]:
randn(3,3)

array([[-2.36822302, -0.65829727, -0.37555608],
       [ 0.80439263, -0.39948354,  1.13295507],
       [-0.89055541, -0.70833507,  1.3888526 ]])

In [7]:
df=pd.DataFrame(data=randn(3,3),index=["A","B","C"],columns=["Column1","Column2","Column3"])

In [8]:
df #Serilerin birleşmiş hali gibidir.Column1 2 ve 3 kendi içinde bir seridir. A,B,C ler ayrı ayrı kendi içinde bir seridir.

    Column1   Column2   Column3
A -0.095737  0.071078 -0.628282
B  0.839701  1.449268 -0.803409
C  0.238960 -1.170433  1.459756

In [9]:
df["Column2"]

A    0.071078
B    1.449268
C   -1.170433
Name: Column2, dtype: float64

In [11]:
type(df["Column2"])  #DataFrame ler serilerin birleşimi gibidir. her satır, sütun da aynı zamanda bir seridir.

pandas.core.series.Series

In [12]:
df.loc["A"]   # A nın konumunu arar ve çıktıyı index gibi verir.

Column1   -0.095737
Column2    0.071078
Column3   -0.628282
Name: A, dtype: float64

In [13]:
type(df.loc["A"])

pandas.core.series.Series

In [15]:
df[["Column1","Column3"]]

    Column1   Column3
A -0.095737 -0.628282
B  0.839701 -0.803409
C  0.238960  1.459756

In [16]:
df["Column4"]   #4. kolon olamadığı için keyerror hatası verir.

KeyError: 'Column4'

In [46]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.095737  0.071078 -0.628282 -1.259041 -0.024658
B  0.839701  1.449268 -0.803409  0.029221  2.288969
C  0.238960 -1.170433  1.459756  1.315051 -0.931473

In [47]:
 df["Column4"]=pd.Series(randn(3),["A","B","C"])

In [48]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.095737  0.071078 -0.628282  1.434351 -0.024658
B  0.839701  1.449268 -0.803409  4.292525  2.288969
C  0.238960 -1.170433  1.459756  0.229542 -0.931473

In [57]:
df["Column5"]=pd.Series(df["Column1"]+df["Column2"],["A","B","C"])

In [58]:
df

    Column1   Column2   Column3   Column4   Column5   Column6
A -0.095737  0.071078 -0.628282  1.434351 -0.024658 -0.652941
B  0.839701  1.449268 -0.803409  4.292525  2.288969  1.485559
C  0.238960 -1.170433  1.459756  0.229542 -0.931473  0.528283

In [59]:
df["Column6"]= df["Column1"] + df["Column2"] + df["Column3"]

In [60]:
df

    Column1   Column2   Column3   Column4   Column5   Column6
A -0.095737  0.071078 -0.628282  1.434351 -0.024658 -0.652941
B  0.839701  1.449268 -0.803409  4.292525  2.288969  1.485559
C  0.238960 -1.170433  1.459756  0.229542 -0.931473  0.528283

In [63]:
df.drop("Column5",axis=1)

    Column1   Column2   Column3   Column4   Column6
A -0.095737  0.071078 -0.628282  1.434351 -0.652941
B  0.839701  1.449268 -0.803409  4.292525  1.485559
C  0.238960 -1.170433  1.459756  0.229542  0.528283

In [64]:
df

    Column1   Column2   Column3   Column4   Column5   Column6
A -0.095737  0.071078 -0.628282  1.434351 -0.024658 -0.652941
B  0.839701  1.449268 -0.803409  4.292525  2.288969  1.485559
C  0.238960 -1.170433  1.459756  0.229542 -0.931473  0.528283

In [66]:
#axis ekseni demektir. Yatay eksende işlem uygulanacğı zaman axis=0, Dikey eksende işlem uygulanacağı zaman axis=1 yapılır..

In [ ]:
#Yukarıda yapılan işlemden sonra DataFrame güncellemek istenmediği için yeniden çalıştırıldığında silinen kolon geri geldi.
#Eğer kalıcı şekilde silmek isteniyorsa inplace=False değiştirilip True yapılmalı. Bunu görmek için:
#df.drop()  parantez içinde shift+tab basılmalı.

In [67]:
df.drop("Column5",axis=1,inplace=True)

In [68]:
df #Burada Column5 kalcıı olarak silindi.

    Column1   Column2   Column3   Column4   Column6
A -0.095737  0.071078 -0.628282  1.434351 -0.652941
B  0.839701  1.449268 -0.803409  4.292525  1.485559
C  0.238960 -1.170433  1.459756  0.229542  0.528283

In [69]:
#Bir kolona erişmek için df["Column1"] uyguladık.
#Bir indexe erişmek için df.loc["A"] uygulanır.

In [70]:
df.loc["A"]

Column1   -0.095737
Column2    0.071078
Column3   -0.628282
Column4    1.434351
Column6   -0.652941
Name: A, dtype: float64

In [74]:
df.iloc[0]  #df.loc["A"] nın aynısını verir. Bazı durumlarda kullanılır.

Column1   -0.095737
Column2    0.071078
Column3   -0.628282
Column4    1.434351
Column6   -0.652941
Name: A, dtype: float64

In [75]:
df.loc["A","Column1"]

-0.09573656309939566

In [76]:
df.loc["B","Column4"]

4.292524849048522

In [77]:
df.loc[["A","B"],"Column6"]

A   -0.652941
B    1.485559
Name: Column6, dtype: float64

In [78]:
df.loc["A",["Column1","Column2"]]

Column1   -0.095737
Column2    0.071078
Name: A, dtype: float64

In [79]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A -0.095737  0.071078
B  0.839701  1.449268