In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
outerIndex=["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [7]:
innexIndex=["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [8]:
zip(outerIndex,innexIndex)

In [9]:
list(zip(outerIndex,innexIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [10]:
hierarchy=list(zip(outerIndex,innexIndex))

In [14]:
hierarchy=pd.MultiIndex.from_tuples(hierarchy)

In [20]:
df

                Column1   Column2   Column3
Group1 Index1  0.923672 -0.117976 -0.825696
       Index2  1.461126 -0.333933 -0.519976
       Index3 -0.281197  0.993875 -1.667543
Group2 Index1  0.603910  1.663565 -0.688170
       Index2  0.323490  0.379972  0.278407
       Index3 -0.167749  1.336029  1.935265
Group3 Index1  0.412794 -1.275129  0.085242
       Index2 -0.263542  0.426023  0.056165
       Index3  0.827891  0.786293 -0.868747

In [17]:
df=pd.DataFrame(randn(9,3),hierarchy,columns=["Column1","Column2","Column3"])

In [19]:
df["Column1"]

Group1  Index1    0.923672
        Index2    1.461126
        Index3   -0.281197
Group2  Index1    0.603910
        Index2    0.323490
        Index3   -0.167749
Group3  Index1    0.412794
        Index2   -0.263542
        Index3    0.827891
Name: Column1, dtype: float64

In [21]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1  0.923672 -0.117976 -0.825696
Index2  1.461126 -0.333933 -0.519976
Index3 -0.281197  0.993875 -1.667543

In [26]:
df.loc[["Group1","Group2"]]

                Column1   Column2   Column3
Group1 Index1  0.923672 -0.117976 -0.825696
       Index2  1.461126 -0.333933 -0.519976
       Index3 -0.281197  0.993875 -1.667543
Group2 Index1  0.603910  1.663565 -0.688170
       Index2  0.323490  0.379972  0.278407
       Index3 -0.167749  1.336029  1.935265

In [27]:
df.loc["Group1"].loc["Index2"]

Column1    1.461126
Column2   -0.333933
Column3   -0.519976
Name: Index2, dtype: float64

In [29]:
df.loc["Group1"].loc["Index2"]["Column1"]

1.4611264305676754

In [30]:
df

                Column1   Column2   Column3
Group1 Index1  0.923672 -0.117976 -0.825696
       Index2  1.461126 -0.333933 -0.519976
       Index3 -0.281197  0.993875 -1.667543
Group2 Index1  0.603910  1.663565 -0.688170
       Index2  0.323490  0.379972  0.278407
       Index3 -0.167749  1.336029  1.935265
Group3 Index1  0.412794 -1.275129  0.085242
       Index2 -0.263542  0.426023  0.056165
       Index3  0.827891  0.786293 -0.868747

In [31]:
df.index.names

FrozenList([None, None])

In [32]:
df.index.names=["Groups","Indexes"]

In [33]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1   0.923672 -0.117976 -0.825696
       Index2   1.461126 -0.333933 -0.519976
       Index3  -0.281197  0.993875 -1.667543
Group2 Index1   0.603910  1.663565 -0.688170
       Index2   0.323490  0.379972  0.278407
       Index3  -0.167749  1.336029  1.935265
Group3 Index1   0.412794 -1.275129  0.085242
       Index2  -0.263542  0.426023  0.056165
       Index3   0.827891  0.786293 -0.868747

In [34]:
df.loc["Group1"]

          Column1   Column2   Column3
Indexes
Index1   0.923672 -0.117976 -0.825696
Index2   1.461126 -0.333933 -0.519976
Index3  -0.281197  0.993875 -1.667543

In [35]:
df.xs("Group1")

          Column1   Column2   Column3
Indexes
Index1   0.923672 -0.117976 -0.825696
Index2   1.461126 -0.333933 -0.519976
Index3  -0.281197  0.993875 -1.667543

In [36]:
df.xs("Group1").xs("Index1").xs("Column1")

0.9236722234351809

In [38]:
df.xs("Index1",level="Indexes")  #Index1 lerin hepsini göster ama Indexes kolonundakileri gösterme

         Column1   Column2   Column3
Groups
Group1  0.923672 -0.117976 -0.825696
Group2  0.603910  1.663565 -0.688170
Group3  0.412794 -1.275129  0.085242